/* Global styles */
body {
  font-family: "warungasemregular", Arial, sans-serif;
  background-color: #ba3026;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "warungasemregular";
  src: url("webfontkit/warungasem-rgo1o-webfont.woff2") format("woff2"),
    url("webfontkit/warungasem-rgo1o-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  color: #000000;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #e93c30;
  text-decoration: none;
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

label {
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
}

/* Header styles */
header {
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

nav ul li {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: 4rem;
}

nav ul li:last-child {
  margin-right: 0;
  margin-left: auto;
}

nav ul li a {
  font-size: 2rem;
  font-family: "warungasemregular";
  color: #e93c30;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  background-color: #e93c30;
  color: #000000;
}

nav ul li a.active {
  background-color: #e93c30;
  color: #000000;
}

/* Main content styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Footer styles */

footer p {
  color: #e93c30;
  background-color: #000000;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Home page */
.game-list h2 {
  text-align: center;
}
.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-list .game img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.game-list .game {
  flex-basis: 30%;
  margin-bottom: 1rem;
}

/* Profile page */

#profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-info p {
  font-size: 1.5rem;
}

.profile-info a {
  font-size: 2rem;
  color: #000000;
  padding: 0.3rem;
  text-decoration: none;
  border: double 5px #000000;
  background-color: #962118;
}

.profile-info a:hover {
  font-size: 1.7rem;
  background-color: #e93c30;
  color: #000000;
}

.profile-info form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-info textarea {
  height: 10rem;
  margin-bottom: 1rem;
  border: double 5px #000000;
  background-color: #962118;
  color: #000000;
}

.profile-info button {
  font-family: "warungasemregular";
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  width: 40%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  border: double 5px #000000;
  background-color: #962118;
  color: #000000;
}

.profile-info button:hover {
  background-color: #e93c30;
  color: #000000;
}

#profile-details {
  flex-basis: 50%;
}

#game-scores {
  flex-basis: 45%;
}

/* Game page */

.game-info h2 {
  text-align: center;
  font-size: 4rem;
}

.game-display {
  display: flex;
  justify-content: center;
}

.add-comment {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#add-comment {
  background-color: #962118;
  width: 98%;
  border: double 10px #000000;
}

.add-comment input {
  font-weight: bold;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  border: double 5px #000000;
  background-color: #962118;
  color: #000000;
}

.comment {
  background-color: #79241e;
  border: 5px double #000000;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

.comment h3 {
  font-size: 2rem;
}

.comment p {
  font-size: 1.5rem;
}

/* Support page */
.support {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support h2 {
  text-align: center;
  font-size: 4rem;
}

.support h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.support form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.support textarea {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
  border: double 5px #000000;
  background-color: #962118;
  color: #000000;
}

.support input {
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  border: double 5px #000000;
  background-color: #962118;
  color: #000000;
}

.support input:hover {
  background-color: #e93c30;
  color: #000000;
}

/* Contact page */
.logo-contacts {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact p {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 29rem;
}

/* Admin page */

.add-game {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
  border: double 10px #000000;
  background-color: #962118;
}

.add-game input {
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  border: double 5px #000000;
  background-color: #962118;
  color: #000000;
}

.add-game input[type="submit"] {
  font-size: 1.7rem;
  font-family: "warungasemregular";
  cursor: pointer;
}

.add-game input[type="submit"]:hover {
  background-color: #e93c30;
  color: #000000;
}

.admin-choices {
  display: flex;
  flex-direction: column;
}

.admin {
  font-size: 2rem;
  color: #000000;
  background-color: #962118;
  border: double 5px #000000;
  padding: 0.3rem;
}

.admin:hover {
  font-size: 2.2rem;
  background-color: #e93c30;
  color: #000000;
}

/*Admin support page*/

.message {
  border: double 5px #000000;
  background-color: #962118;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  nav ul li:last-child {
    margin-bottom: 0;
    margin-left: 0;
  }

  nav ul.nav-right {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  nav ul.nav-right li a {
    padding: 0.5rem;
  }
}
